<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
    <body>
        <h2>Register</h2>
        <form method="POST" action="/register">
            <label>Username: </label>
            <input type ="text" name = "username" required><br><br>


            <label>Password: </label>
            <input type = "password" name ="password" required><br><br>

           <label>First Name: </label>
            <input type = "text" name="firstName" required><br><br>

            <label>Last Name: </label>
            <input type="text" name ="lastName" required><br><br>

            <label>Address: </label>
            <input type = "text" name="address" ><br><br>

            <label>Phone Number: </label>
            <input type="text" name ="phoneNumber" required><br><br>

            <label>License Number: </label>
            <input type="text" name="licenseNumber"><br><br>
            <input type="submit" value="Register">

            <label>Company: </label>
            <input type="text" name="company" required><br><br>

            
        </form>

            <br><br>
            <label>Already Registered?</label><br>
            <a href="{{ url_for('login') }}" class = "button">Click here to login</a>
            



        

    </body>
</html>

